#dash-nav {
    padding: 0;
    height: 80px;
    -webkit-box-shadow: 0px 2px 5px rgba(37, 38, 94, 0.05);
    box-shadow: 0px 2px 5px rgba(37, 38, 94, 0.05);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-left: 80px;
}

#dash-nav .navbar-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#dash-nav .navbar-left .home {
    margin-right: 64px
}

#dash-nav .navbar-left .logo {
    margin-right: 3rem
}

#dash-nav .navbar-left .page-title {
    margin-right: 8.5rem;
    color: rgba(42, 54, 89, 0.5);
}

#dash-nav .navbar-left .lang {
    margin-right: 8.5rem;
    color: #dee0ea;
    font-weight: 300;
}

#dash-nav .navbar-left .lang a:hover {
    color: #a61e56;
}

#dash-nav .navbar-left .lang a {
    color: #9da1c2;
    font-weight: 200;
    margin: 0 2px;
}

#dash-nav .navbar-left .nav-weather span {
    color: #9da1b0;
    font-weight: 200;
}

#dash-nav .navbar-left .nav-weather img {
    margin-right: 1rem
}

#dash-nav .navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#dash-nav .navbar-right .profile-dropdown-wrap {
    width: 250px;
    color: #2A3659;
    letter-spacing: 0.11px;
}

#dash-nav .navbar-right .profile-dropdown-wrap .profile-dropdown {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown img {
    margin-right: 1.5rem;
    border-radius: 50%
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown .user-name {
    font-family: 'Lato';
    color: rgba(42, 54, 89, 0.75);
    font-size: 1rem
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown:after {
    margin-left: 14px;
    border-top-color: #D8DFE5;
    border-bottom-color: #D8DFE5
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu {
    width: 632px;
    border-radius: 0;
    border: 1px solid rgba(42, 54, 89, 0.2);
    padding: 0
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item {
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: unset;
    color: #2a3659;
    border-bottom: 1px solid #e1e1e1;
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
}

.profile-dropdown-wrap {
    height: 100%;
}
.profile-dropdown-wrap .dropdown-menu {
    top: 52px;
    width: 100%;
    border-radius: 0;
    border-top: 0;
    padding: 0;
}
.profile-dropdown-wrap .dropdown-item {
    box-shadow: none !important;
    background-color: transparent;
    color: #2a3659;
    padding: 15px 20px !important;
    font-size: 14px !important;
    font-weight: 200 !important;
}
.profile-dropdown-wrap .dropdown-item:hover {
    background-color: #2a3659;
    color: #fff;
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #2A3659;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 4rem;
    color: #fff;
    font-size: 16px
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item:hover .avatar {
    background-color: #fff;
    color: #2a3659
}

#dash-nav .navbar-right .profile-dropdown-wrap .profile-dropdown-menu .dropdown-item .avatar .letter {
    font-family: Roboto;
    font-size: 18px;
    color: white
}

#dash-nav .navbar-right .profile-dropdown-wrap .profile-dropdown-menu .dropdown-item .about {
    font-family: "Product Sans", Arial, sans-serif;
}

#dash-nav .navbar-right .profile-dropdown-wrap .profile-dropdown-menu .dropdown-item .about .role {
    display: block;
    font-weight: bold;
    color: #2A3659;
    margin-bottom: 0.25rem;
    font-size: 14px
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item .about .desc {
    font-size: 14px;
    color: #d8dae0;
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item:hover {
    background: #2A3659;
    color: #fff;
}

#dash-nav .navbar-right .message-dropdown-wrap .profile-dropdown-menu .dropdown-item:hover .avatar {
    background: white
}

#dash-nav .navbar-right .message-dropdown-wrap .profile-dropdown-menu .dropdown-item:hover .avatar .letter {
    color: #2A3659
}

#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item:hover .about .desc,
#dash-nav .navbar-right .message-dropdown-wrap .message-dropdown-menu .dropdown-item:hover .about .role {
    /* color: rgba(255, 255, 255, 0.5); */
}

.message-dropdown .dropdown-item:hover .avatar {
    background-color: #fff;
    color: #000;
}

#dash-nav .navbar-right .chat {
}

#dash-nav .navbar-right .chat i {
    color: #fff;
}
#dash-nav .navbar-right .chat i {
    color: #e1e1e1;
}

#dash-nav .navbar-right .chat.has-msg i {
    color: #A61F56;
}

#dash-nav .navbar-right .close-page {
    border-left: 1px solid rgba(42, 54, 89, 0.1);
    padding-left: 1.5rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 25px !important;
}

#dash-nav .navbar-right .close-page i {color: #DADADA;}
#dash-nav .navbar-right .close-page a:hover i {
    color: #A61F56;
}

#dash-nav .navbar-right .paket {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    background: #2A3659;
    padding-left: 30px;
}

#dash-nav .navbar-right .paket span {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 200;
    letter-spacing: 0.4px;
}

#dash-nav .navbar-right .paket img {
    margin-right: 10px
}

#dash-nav .navbar-right .user-id {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    background: #2A3659;
    margin-right: 40px;
    padding-right: 30px;
}

#dash-nav .navbar-right .user-id span {
    font-family: Product Sans;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

#dash-nav .navbar-right .user-id img {
    margin-right: 10px
}

#dash-sidebar {
    height: 100vh;
    width: 80px;
    z-index: 1029;
    background-color: white;
    border: 1px solid #F0F3F4;
}

#dash-sidebar .content {
    padding: 2rem 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    -ms-flex-line-pack: justify;
    align-content: space-between
}

#dash-sidebar .content div {
    width: 100%
}

#dash-sidebar .nav {
    position: relative;
    width: 100%;
}

#dash-sidebar .nav .nav-link {
    width: 100%;
    text-align: center;
    padding: 0;
    border-left: 2px solid transparent;
}
#dash-sidebar .nav .nav-link i {
    color: #e1e1e1;
}
#dash-sidebar .nav .nav-link.is-active i {
    color: #2a3659
}

#dash-sidebar .nav .nav-link:not(:last-child) {
    margin-bottom: 80px
}

#dash-sidebar .nav .nav-link:first-child {
    margin-bottom: 160px;
}

#dash-sidebar .nav .nav-link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#dash-sidebar .nav .nav-link svg path {
    fill: rgba(93, 93, 93, 0.2)
}

#dash-sidebar .nav .nav-link .nav-link-text {
    display: none;
    margin-left: 1.5rem
}

#dash-sidebar .nav .nav-link.is-active,
#dash-sidebar .nav .nav-link:hover {
    border-left-color: #2A3659
}

#dash-sidebar .nav .nav-link.is-active svg path,
#dash-sidebar .nav .nav-link:hover svg path {
    fill: #2A3659
}

#dash-sidebar .nav .nav-link.download {
    position: absolute;
    bottom: -30px;
    display: none
}

#dash-sidebar .menu-trigger .menu-close {
    display: none
}

#dash-sidebar.is-open {
    width: 150px
}

#dash-sidebar.is-open .nav-link a {text-align: left;justify-content: flex-start;padding-left: 25px;font-size: 14px;}

#dash-sidebar.is-open .menu-trigger .menu-open {
    display: none
}

#dash-sidebar.is-open .menu-trigger .menu-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#dash-sidebar.is-open .menu-trigger .menu-close img {
    margin-right: 18px
}

#dash-sidebar.is-open .nav .nav-link .nav-link-text {
    display: inline-block;
    margin-left: 15px;
}

#dash-sidebar.is-open .nav .nav-link.download {
    display: block
}

#dash-sidebar.is-open .nav .nav-link.download a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

#dash-sidebar.is-open .nav .nav-link.download a .nav-link-text {
    margin-top: 4px;
    margin-left: 0
}

#dash-content {
    padding-left: 120px;
    padding-right: 40px;
    padding-top: 120px;
    background: #FAFBFC;
    min-height: 100vh;
    height: 100%;
}

#dash-content #content-footer {
    padding: 60px 40px;
    font-family: 'Helvetica', Arial, sans-serif;
}

#dash-content #content-footer div {
    font-size: 14px;
    line-height: 27px;
    color: #939EAB;
}

#dash-content #content-footer div a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    color: #2A3659;
}

#history-nav {
    position: fixed;
    top: 80px;
    height: 62px;
    padding-left: 180px;
    width: 100%;
    background: #FEFEFF;
    -webkit-box-shadow: 0px 2px 5px rgba(37, 38, 94, 0.05);
    box-shadow: 0px 2px 5px rgba(37, 38, 94, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#history-nav .history-nav-link {
    margin-right: 82px
}

#history-nav .history-nav-link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 62px;
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    font-weight: 200;
    color: rgba(42, 54, 89, 0.2);
    border-bottom: 1px solid #2A3659;
}

#dash-users .profile-info .user-image {
    width: 135px;
    height: 135px;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    float: left
}

#dash-users .profile-info .user-image.has-edit {
    position: relative
}

#dash-users .profile-info .user-image.has-edit .edit-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer
}

#dash-users .profile-info .image-info {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: rgba(93, 93, 93, 0.5)
}

#dash-users .profile-info .user-name {
    display: block;
    font-family: Product Sans;
    font-size: 20px;
    line-height: 27px;
    color: #2A3659;
    margin-bottom: 65px
}

#dash-users .user-info-form {
    margin-top: 40px
}

#dash-users .user-info-form .form-label-group:not(:last-child) .form-control {
    border-bottom: none
}

#dash-users .linked-acc {
    margin-top: 20px
}

#dash-users .linked-acc h4 {
    color: #2A3659;
    margin-bottom: 30px
}

#dash-users .linked-acc p {
    margin-bottom: 24px
}

#dash-users .linked-acc .buttons .btn {
    background: #FFFFFF;
    border: 1px solid rgba(85, 98, 110, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 4px rgba(85, 98, 110, 0.1);
    box-shadow: 0px 2px 4px rgba(85, 98, 110, 0.1);
    font-family: Product Sans;
    font-size: 16px;
    line-height: 27px;
    color: rgba(42, 54, 89, 0.5)
}

#dash-users .linked-acc .buttons .btn i {
    color: #2A3659;
    margin-right: 12px
}

#dash-users .loyalty .card {
    text-align: center;
    position: relative;
    background: #2A3659
}

#dash-users .loyalty h5 {
    font-family: Product Sans;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-weight: 200
}

#dash-users .loyalty .pass-code {
    font-family: Product Sans;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-weight: 200
}

#dash-users .loyalty img {
    margin-bottom: 20px
}

#dash-users .loyalty .id {
    font-family: Product Sans;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF
}

#dash-users .card-info .accordion .card {
    border-radius: 0
}

#dash-users .card-info .accordion .card-header {
    height: 80px;
    padding: 0 1.5rem;
    border-radius: 0
}

#dash-users .card-info .accordion .card-header .name {
    width: 200px
}

#dash-users .card-info .accordion .card-header .name .full-name-label {
    font-family: Product Sans;
    font-size: 13px;
    line-height: 27px;
    font-weight: 200;
    color: #939EAB
}

#dash-users .card-info .accordion .card-header .name .full-name {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #939EAB
}

#dash-users .card-info .accordion .card-header .card-type {
    margin-right: 180px
}

#dash-users .card-info .accordion .card-header .card-num .card-num-label {
    font-family: Product Sans;
    font-size: 13px;
    line-height: 27px;
    font-weight: 200;
    color: #939EAB
}

#dash-users .card-info .accordion .card-header .card-num .card-num-num {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #939EAB
}

#dash-users .card-info .accordion .card-header .delete-icon {
    padding-left: 40px;
    padding-right: 20px;
    margin-left: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80px;
    border-left: 1px solid rgba(255, 255, 255, 0.1)
}

#dash-users .card-info .accordion .card-header .delete-icon svg path {
    fill: rgba(42, 54, 89, 0.5)
}

#dash-users .card-info .accordion .card-header .card-icon svg path {
    fill: rgba(42, 54, 89, 0.5)
}

#dash-users .card-info .accordion .card:first-child {
    margin-top: 27px
}

#dash-users .card-info .accordion .card:first-child .card-header {
    position: relative;
    background: #2A3659;
    -webkit-box-shadow: 0px 2px 2px rgba(42, 54, 89, 0.05);
    box-shadow: 0px 2px 2px rgba(42, 54, 89, 0.05)
}

#dash-users .card-info .accordion .card:first-child .card-header:before {
    content: 'New Card';
    position: absolute;
    top: -27px;
    left: 0;
    color: white;
    font-family: Product Sans;
    font-style: italic;
    font-size: 14px;
    line-height: 27px;
    background: #A61F56;
    display: inline-block;
    padding: 0 12px
}

#dash-users .card-info .accordion .card:first-child .card-header .name .full-name-label {
    font-family: Product Sans;
    font-size: 13px;
    line-height: 27px;
    font-weight: 200;
    color: #FFFFFF
}

#dash-users .card-info .accordion .card:first-child .card-header .name .full-name {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF
}

#dash-users .card-info .accordion .card:first-child .card-header .card-num .card-num-label {
    color: #FFFFFF
}

#dash-users .card-info .accordion .card:first-child .card-header .card-num .card-num-num {
    color: #FFFFFF
}

#dash-users .card-info .accordion .card:first-child .card-header .card-icon svg path {
    fill: rgba(255, 255, 255, 0.5)
}

#dash-users .card-info .accordion .card:first-child .card-header .delete-icon svg path {
    fill: rgba(255, 255, 255, 0.5)
}

.panel-label {
    margin-bottom: 10px;
    font-family: "Product Sans";
    font-size: 14px;
    line-height: 27px;
    color: #939EAB;
}

.card {
    border: 1px solid #F0F3F4;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.card .card-body {
    padding: 40px
}

.custom-checkbox .custom-control-label:before {
    border-radius: 50%;
    background-color: white;
    border: 2px solid #A61F56;
    width: 20px;
    height: 20px
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
    background-color: #A61F56
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:after {
    background-image: none
}

.custom-control-label {
    padding-left: 12px
}

.custom-control-label .title {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #2A3659;
    font-weight: 200
}

.custom-control-label .desc {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    font-weight: 200
}

.form-label-group.has-edit {
    position: relative
}

.form-label-group.has-edit .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 11px;
    height: 11px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMzc1IDcuOTA2NDJWOS42MjUxN0gzLjA5Mzc1TDguMTYyOTIgNC41NTZMNi40NDQxNyAyLjgzNzI1TDEuMzc1IDcuOTA2NDJaTTkuNDkyMDggMy4yMjY4NEM5LjY3MDgzIDMuMDQ4MDkgOS42NzA4MyAyLjc1OTM0IDkuNDkyMDggMi41ODA1OUw4LjQxOTU4IDEuNTA4MDlDOC4yNDA4MyAxLjMyOTM0IDcuOTUyMDggMS4zMjkzNCA3Ljc3MzMzIDEuNTA4MDlMNi45MzQ1OCAyLjM0Njg0TDguNjUzMzMgNC4wNjU1OUw5LjQ5MjA4IDMuMjI2ODRaIiBmaWxsPSJyZ2JhKDg1LCA5OCwgMTEwLCAwLjEpIi8+Cjwvc3ZnPgo=")
}

.form-label-group.has-edit .edit-icon:hover {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMzc1IDcuOTA2NDJWOS42MjUxN0gzLjA5Mzc1TDguMTYyOTIgNC41NTZMNi40NDQxNyAyLjgzNzI1TDEuMzc1IDcuOTA2NDJaTTkuNDkyMDggMy4yMjY4NEM5LjY3MDgzIDMuMDQ4MDkgOS42NzA4MyAyLjc1OTM0IDkuNDkyMDggMi41ODA1OUw4LjQxOTU4IDEuNTA4MDlDOC4yNDA4MyAxLjMyOTM0IDcuOTUyMDggMS4zMjkzNCA3Ljc3MzMzIDEuNTA4MDlMNi45MzQ1OCAyLjM0Njg0TDguNjUzMzMgNC4wNjU1OUw5LjQ5MjA4IDMuMjI2ODRaIiBmaWxsPSIjQTYxRjU2Ii8+Cjwvc3ZnPgo=")
}

.dash-history #dash-content {
    /* padding-top: 180px; */
}

.dash-history .download-actions .actions-label {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    font-weight: 200;
    color: rgba(42, 54, 89, 0.2);
    margin-right: 20px
}

.dash-history .download-actions i {
    font-size: 14px;
    line-height: 27px;
    color: rgba(42, 54, 89, 0.2);
    margin-right: 20px;
    cursor: pointer
}

.dash-history .table-history {
    border: 1px solid rgba(209, 219, 226, 0.3)
}

.table-comments tr td:first-child {
    width: 70px;
    padding-right: 0;
}

.table-comments .attachment {text-align: center;}

td.attachment > div {
    padding: 0;
    display: flex;
    align-items: center;
}
.table-comment-text {
    width: 440px;
    font-size: 12px !important;
    line-height: 1.2 !important;
}
.table-comment-name {
    color: #2a3659 !important;
    font-weight: 300 !important;
}
tr:hover .table-comment-name,
.new-messages .table-comment-name {
    color: #fff !important;
}

td.delete {
    width: 90px;
}

td.read-more {
    width: 160px;
    padding: 0 !important;
}

td.read-more .btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    border-left: 1px solid #f1f5f6;
    transition: all 0.3s;
    border-bottom: none;
}
td.read-more .btn:hover {
    background-color: #a61e56 !important;
    color: #fff !important;
}


td.use.active {
    background-color: #2a3659;
    color: #fff !important;
}
td.use.active .td-label,
td.use.active .td-value {
    color: #fff !important;
}

#comment-frame .inner-top-row {
    position: relative !important;
    top: 0;
}
.comment-holder {margin: 60px;border: 1px solid #F0F3F4;border-radius: 4px;display: flex;}
.comment-data {
    padding: 120px;
}
.comment-name {}
.comment-preview-head {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.comment-preview-head p {
    margin-bottom: 0;
    font-size: 12px;
}
.comment-preview-content {}
.comment-apart {
    padding: 0;
}
.comment-apart img {
    max-width: 100%;
    height: 100%;
}
.comment-apart .caption {
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 60;
}

body.comment-frame-opened #comment-frame {
    display: block;
}

.dash-history .table-history td {
    border-top: 1px solid rgba(209, 219, 226, 0.3);
    height: 80px;
    vertical-align: middle;
    padding: 0 20px;
}

.dash-history .table-history td .td-label {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    font-weight: 200;
    color: rgb(216, 218, 224);
    line-height: 1;
    padding-bottom: 10px;
}

.dash-history .table-history td .td-value {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    font-weight: 200;
    color: rgba(42, 54, 89, 0.5);
    line-height: 1;
}

.dash-history .table-history .apart-name .td-value {
    width: 150px;
    line-height: 1;
}

.dash-history .table-history .date-time .td-value {
    color: #2A3659
}

.dash-history .table-history .price .td-value {
    color: #2A3659
}

.dash-history .table-history .credit-card .td-label {
    color: #2A3659
}

.dash-history .table-history .credit-card .td-value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.dash-history .table-history .credit-card .td-value div {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #2A3659;
    margin-right: 16px
}

.dash-history .table-history .download .td-value {
    cursor: pointer
}

.dash-history .table-history .download .td-value span {
    margin-right: 10px;
    color: rgba(42, 54, 89, 0.2)
}

.dash-history .table-history .download .td-value i {
    color: rgba(42, 54, 89, 0.2)
}

.dash-history .table-history .full-screen .td-value {
    cursor: pointer
}

.dash-history .table-history .full-screen .td-value span {
    margin-right: 10px;
}

.dash-history .table-history .full-screen .td-value i {
    color: rgba(42, 54, 89, 0.2)
}

.dash-history .table-history .delete {
    border-left: 1px solid rgba(209, 219, 226, 0.3);
    text-align: center
}

.dash-history .table-history .delete .td-value {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.dash-history .table-history .delete .td-value i {
    color: rgba(42, 54, 89, 0.2)
}

.dash-history .table-history .fav .td-value i {
    color: #2A3659
}

.dash-history .table-history .rating .td-value .rated-star {
    color: #ADADAD
}

.dash-history .table-history .rating .td-value .rated-star i {
    color: #2A3659
}

.dash-history .table-history .rating .td-value i {
    color: #B0B0B0
}

.dash-history .table-history tr:hover td {
    background-color: #2A3659;
    transition: all 0.2s;
}

.dash-history .table-history tr:hover .comment-avatar, table.new-messages .comment-avatar {
    background-color: #fff;
    color: #2a3659;
}
.table.new-messages .comment-avatar {
    color: #a61e56;
}

.dash-history .table-history tr:hover td.td-label,
.dash-history .table-history tr:hover a {
    color: white
}

.dash-history .table-history tr:hover td .td-value {
    color: white
}

.dash-history .table-history tr:hover .use {
    background: #A61F56
}

.dash-history .table-history tr:hover .date-time .td-value {
    color: white
}

.dash-history .table-history tr:hover .price .td-value {
    color: white
}

.dash-history .table-history tr:hover .credit-card .td-label {
    color: white
}

.dash-history .table-history tr:hover .credit-card .td-value div {
    color: white
}

.dash-history .table-history tr:hover .download .td-value span {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history tr:hover .download .td-value i {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history tr:hover .full-screen .td-value span {
    color: rgb(255, 255, 255);
}

.dash-history .table-history tr:hover .full-screen .td-value i {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history tr:hover .delete {
    border-left: 1px solid rgba(147, 158, 171, 0.2)
}

.dash-history .table-history tr:hover .delete .td-value i {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history tr:hover .fav .td-value i {
    color: white
}

.dash-history .table-history tr:hover .rating .td-value .rated-star {
    color: #B0B0B0
}

.dash-history .table-history tr:hover .rating .td-value .rated-star i {
    color: white
}

.dash-history .table-history tr:hover .rating .td-value i {
    color: #B0B0B0
}

.dash-history .table-history-new-info {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 0;
    border: 1px solid rgba(209, 219, 226, 0.3);
}

.dash-history .table-history-new-info:before {
    content: 'New Information';
    font-style: italic;
    position: absolute;
    top: -26px;
    left: 0;
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    background: #A61F56;
    padding: 0 12px;
    display: inline-block
}

.dash-history .table-history-new-info.new-likes:before {
    content: 'New Likes'
}

.dash-history .table-history-new-info td {
    border-top: #2A3659;
    background-color: #2A3659
}

.dash-history .table-history-new-info td .td-label {
    color: white
}

.dash-history .table-history-new-info td .td-value {
    color: white
}

.dash-history .table-history-new-info .use {
    background: #A61F56
}

.dash-history .table-history-new-info .date-time .td-value {
    color: white
}

.dash-history .table-history-new-info .price .td-value {
    color: white
}

.dash-history .table-history-new-info .credit-card .td-label {
    color: white
}

.dash-history .table-history-new-info .credit-card .td-value div {
    color: white
}

.dash-history .table-history-new-info .download .td-value span {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history-new-info .download .td-value i {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history-new-info .full-screen .td-value span {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history-new-info .full-screen .td-value i {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history-new-info .delete {
    border-left: 1px solid rgba(147, 158, 171, 0.2)
}

.dash-history .table-history-new-info .delete .td-value i {
    color: rgba(255, 255, 255, 0.2)
}

.dash-history .table-history-new-info .fav .td-value i {
    color: white
}

.dash-history .table-history-new-info .rating .td-value .rated-star {
    color: #B0B0B0!important
}

.dash-history .table-history-new-info .rating .td-value .rated-star i {
    color: white
}

.dash-history .table-history-new-info .rating .td-value i {
    color: #B0B0B0
}

.dash-history .load-more {
    text-align: center;
    padding: 36px 0
}

.dash-history .load-more span {
    color: rgba(42, 54, 89, 0.2);
    cursor: pointer;
}

.dash-history-info #dash-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 160px
}

.dash-history-info .info-nav {
    height: 80px;
    position: fixed;
    top: 80px;
    width: 100%;
    background: #2A3659;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 24px
}

.dash-history-info .info-nav .title {
    font-family: Product Sans;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    margin-right: 64px
}

.dash-history-info .info-nav .nav li a {
    font-family: Product Sans;
    font-size: 16px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.5)
}

.dash-history-info .info-nav .nav li:not(:last-child) {
    margin-right: 64px
}

.dash-history-info .info-nav .nav-right div {
    cursor: pointer
}

.dash-history-info .info-nav .nav-right div:not(:last-child) {
    margin-right: 26px
}

.dash-history-info .info-nav .nav-right div i {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF
}

.dash-history-info .info-nav .nav-right div span {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF
}

.dash-history-info .info-left {
    position: relative;
    background-color: white;
    padding-right: 0;
    padding-left: 0
}

.dash-history-info .info-left header {
    height: 75px;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding-left: 180px
}

.dash-history-info .info-left header .title {
    font-family: Product Sans;
    font-size: 30px;
    line-height: normal;
    margin-right: 24px;
    color: #2A3659
}

.dash-history-info .info-left header .desc {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    color: #2A3659
}

.dash-history-info .info-left header .rating {
    padding-right: 28px
}

.dash-history-info .info-left header .rating .score {
    font-family: Product Sans;
    font-size: 24px;
    line-height: normal;
    margin-right: 16px;
    color: #A61F56
}

.dash-history-info .info-left header .book-now {
    background: rgba(42, 54, 89, 0.05);
    font-family: Product Sans;
    font-size: 14px;
    line-height: normal;
    height: 75px;
    color: #2A3659;
    padding: 0 44px;
    cursor: pointer
}

.dash-history-info .info-left footer {
    padding: 0 50px;
    height: 75px;
    position: fixed;
    width: 50%;
    bottom: 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.dash-history-info .info-left footer div {
    cursor: pointer
}

.dash-history-info .info-left footer div:not(:last-child) {
    margin-right: 26px
}

.dash-history-info .info-left footer div i {
    font-size: 14px;
    line-height: 27px;
    color: rgba(42, 54, 89, 0.5)
}

.dash-history-info .info-left footer div span {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: rgba(42, 54, 89, 0.5)
}

.dash-card .card-info .search-download i {
    color: #DADADA;
    cursor: pointer
}

.dash-card .card-info .load-more {
    text-align: center;
    padding: 36px 0 0
}

.dash-card .card-info .load-more span {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    font-weight: 500;
    color: rgba(42, 54, 89, 0.2);
    cursor: pointer
}

.dash-card .card-info .accordion .card {
    border-radius: 0
}

.dash-card .card-info .accordion .card-header {
    height: 80px;
    padding: 0 1.5rem;
    border-radius: 0
}

.dash-card .card-info .accordion .card-header .name {
    width: 200px
}

.dash-card .card-info .accordion .card-header .name .full-name-label {
    font-family: Product Sans;
    font-size: 13px;
    line-height: 27px;
    font-weight: 200;
    color: #939EAB
}

.dash-card .card-info .accordion .card-header .name .full-name {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #939EAB
}

.dash-card .card-info .accordion .card-header .card-num .card-num-label {
    font-family: Product Sans;
    font-size: 13px;
    line-height: 27px;
    font-weight: 200;
    color: #939EAB
}

.dash-card .card-info .accordion .card-header .card-num .card-num-num {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #939EAB
}

.dash-card .card-info .accordion .card-header .delete-icon {
    padding-left: 40px;
    padding-right: 20px;
    margin-left: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80px;
    border-left: 1px solid rgba(255, 255, 255, 0.1)
}

.dash-card .card-info .accordion .card-header .delete-icon svg path {
    fill: rgba(42, 54, 89, 0.5)
}

.dash-card .card-info .accordion .card-header .card-icon svg path {
    fill: rgba(42, 54, 89, 0.5)
}

.dash-card .card-info .accordion .card:first-child {
    margin-top: 27px
}

.dash-card .card-info .accordion .card:first-child .card-header {
    position: relative;
    background: #2A3659;
    -webkit-box-shadow: 0px 2px 2px rgba(42, 54, 89, 0.05);
    box-shadow: 0px 2px 2px rgba(42, 54, 89, 0.05)
}

.dash-card .card-info .accordion .card:first-child .card-header:before {
    content: 'New Card';
    position: absolute;
    top: -27px;
    left: 0;
    color: white;
    font-family: Product Sans;
    font-style: italic;
    font-size: 14px;
    line-height: 27px;
    background: #A61F56;
    display: inline-block;
    padding: 0 12px
}

.dash-card .card-info .accordion .card:first-child .card-header .name .full-name-label {
    font-family: Product Sans;
    font-size: 13px;
    line-height: 27px;
    font-weight: 200;
    color: #FFFFFF
}

.dash-card .card-info .accordion .card:first-child .card-header .name .full-name {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF
}

.dash-card .card-info .accordion .card:first-child .card-header .card-num .card-num-label {
    color: #FFFFFF
}

.dash-card .card-info .accordion .card:first-child .card-header .card-num .card-num-num {
    color: #FFFFFF
}

.dash-card .card-info .accordion .card:first-child .card-header .card-icon svg path {
    fill: rgba(255, 255, 255, 0.5)
}

.dash-card .card-info .accordion .card:first-child .card-header .delete-icon svg path {
    fill: rgba(255, 255, 255, 0.5)
}

.dash-card .payment header {
    margin-bottom: 2rem;
    z-index: 1
}

.dash-card .payment header .title {
    font-family: Product Sans;
    font-size: 32px;
    line-height: 27px;
    color: #2A3659;
    margin-bottom: 16px
}

.dash-card .payment header .desc {
    font-family: Product Sans;
    font-size: 16px;
    line-height: normal;
    font-weight: 200;
    color: rgba(42, 54, 89, 0.5)
}

/* Owners */

.comment-notification .btn-link {
    position: absolute;
    right: 0px;
    top: 0;
    padding: 15px 20px;
    color: #d8dae0 !important;
}

.comment-notification .card {
    display: flex;
    height: calc(100% - 36px);
}

.dash-comments {
    max-width: 580px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dash-comments li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}
.dash-comments li:last-child {
    margin-bottom: 0;
}

.comment-wrap {
    margin-left: 20px;
}
.comment-wrap span {
    font-weight: 400;
}
.comment-wrap p {
    font-weight: 200;
    color: #9da1b0;
    font-size: 14px;
    margin: 0;
}

body.edit-apart-opened,
body.new-apart-opened,
body.frame-opened {
    overflow: hidden;
}

.carousel-indicators li::before,
.carousel-indicators li::after {
    display: none;
}

h3.title {
    font-size: 100 !important;
}

#edit-apartment,
#new-apartment,
.frame-container {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    bottom: 0;
    display: none;
}

#edit-apartment.open,
#new-apartment.open,
.frame-container.open {
    display: block;
}

#edit-apartment #container-left {
    top: 79px !important;
    height: calc(100vh - 80px) !important;
}
#edit-apartment #container-right {
    top: 80px !important;
    height: calc(100vh - 80px) !important;
}

.md-form .form-control:focus {
    border-left: 0 !important;
    border-bottom-color: #000 !important;
}

.md-form.input-group .form-control.with-border {
    border: 1px solid #ebebeb !important;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 1;
}
.md-form.input-group .form-control.with-border:focus {
    border-left-color: #2a3659 !important;
    box-shadow: none !important;
}

.input-group.with-icon a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #a61d56;
    font-size: 16px;
}

.edit-apart-main-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.edit-apart-main-image img {}

.edit-apartment-images {
    position: relative;
    /* display: flex; */
    width: 100%;
    /* align-items: stretch; */
    /* justify-content: flex-start; */
    margin: 0;
    margin-bottom: 1px;
    height: 150px;
}
.edit-apartment-images li {
    position: relative;
    align-items: stretch;
    flex: 1;
    margin-right: 1px;
}

.edit-apartment-images li:last-child {
    margin-right: 0;
}

.edit-apartment-images li img {
    width: 100%;
}
.edit-apartment-images li a {}

.edit-apartment-images .slick-track {
    display: flex;
    width: 100%;
}

.edit-apartment-images .slick-track > div > div {
    position: relative;
    height: 100%;
}

.edit-apartment-images .slick-slide {
    margin-right: 1px;
}

.slick-single:hover .image-edit-overlay {
    opacity: 1;
    visibility: visible;
}

.edit-apartment-images .slick-single img {
    width: 100%;
}

.image-edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(42, 54, 89, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.image-edit-overlay.new-image {
    background-color: #2a3659;
    opacity: 1;
    visibility: visible;
    height: 100%;
    display: flex;
    min-height: 100%;
}

.image-edit-overlay a {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.image-edit-overlay a span {
    font-size: 14px;
    color: #9da1b0;
    margin-top: 10px;
}

#edit-apartment #apart-inner-view .carousel-caption {
    width: auto !important;
    left: 60px;
}

.btn-add-feature {
    padding: 10px;
    border: 1px solid #d8dae0;
    display: inline-block;
    line-height: 10px;
    margin-right: 20px;
    width: 100%;
}
.btn-add-feature i {
    margin: 0;
    padding: 0;
}

.edit-main-info {
    border: 1px solid #dee2e5;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}
.edit-main-info li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

.form-control.no-border {
    border-bottom: none !important;
}

.add-feature-icon.selected {
    color: #a61e56;
    opacity: 1;
}
.add-feature-icon.unselected {
    opacity: 0.3;
}

.add-feature-icon.unselected:hover {
    opacity: 1 !important;
}

.add-feature-icon.selected span { }
.add-feature-icon span {font-size: 14px;font-weight: 300;color: #737c84;margin-top: 5px;}

.edit-new-feature {
    border: 1px solid #ebebeb;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 10px 0;
    padding: 0 10px;
    width: 110px;
    height: 100px;
    transition: all 0.3s;
}

.edit-new-feature:hover {
    background-color: #eff0f5;
}
.edit-new-feature button {
    border: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.edit-new-feature button:hover {
    cursor: pointer;
}
.edit-new-feature span {
    display: block;
    color: #9aa1b0;
    font-size: 12px;
    line-height: 1;
    margin-top: 8px;
}

#modal-feature-icons {

}
#modal-feature-icons .modal-footer {
}
#modal-feature-icons .modal-footer button {
    width: 50%;
}

.modal-title {
    font-weight: 200;
    font-size: 24px;
}

.modal-dialog.modal-custom {}
.modal-dialog.modal-custom .modal-header {
    background-color: #273359;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.modal-dialog.modal-custom .modal-header .close {
    color: #fff;
}
.modal-dialog.modal-custom .modal-body {}
.modal-dialog.modal-custom .modal-footer {}

.modal-header {
    display: flex;
    align-content: center;
    border-bottom: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
}

.modal-dialog.modal-center {
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    max-width: 800px;
}
.modal-center.modal-sm {
    max-width: 740px;
}

.modal-sm .modal-header {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.feature-icons-grid {flex-wrap: wrap;padding: 20px;}
.feature-icons-grid a {text-align: center;margin: 15px 0;display: flex;flex-direction: column;}

.add-feature-icon i {
    font-size: 30px;
}

textarea.form-control.small {font-size: 14px;font-family: Arial;}

textarea.form-control.small:focus {
    border-left: 1px solid #eeeff2;
    padding-left: 20px;
}

/**
 * Fileuploader
 * Copyright (c) 2019 Innostudio.de
 * Website: https://innostudio.de/fileuploader/
 * Version: 2.2 (01-Apr-2019)
 * License: https://innostudio.de/fileuploader/documentation/#license
 */
.fileuploader-input .fileuploader-input-button,.fileuploader-input .fileuploader-input-caption,.fileuploader-items .fileuploader-item .fileuploader-action i,.fileuploader-items .fileuploader-item .fileuploader-progressbar .bar,.fileuploader-items .fileuploader-item .progress-bar2 .fileuploader-progressbar .bar,.fileuploader-items .fileuploader-item span.fileuploader-action-popup,.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a,.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer a[data-action],.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button.button-success{-webkit-transition:.7s cubic-bezier(.17,.67,0,1.01);-o-transition:.7s cubic-bezier(.17,.67,0,1.01);transition:.7s cubic-bezier(.17,.67,0,1.01)}.fileuploader-items .fileuploader-item,.fileuploader-items .fileuploader-item .fileuploader-action,.fileuploader-items .fileuploader-item .fileuploader-item-icon,.fileuploader-items .fileuploader-item .fileuploader-item-image canvas,.fileuploader-items .fileuploader-item .fileuploader-item-image img,.fileuploader-popup,.fileuploader-popup .fileuploader-popup-node{-webkit-animation:fileuploaderFadeIn .2s ease;animation:fileuploaderFadeIn .2s ease}.fileuploader-input .fileuploader-input-button,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button.button-success{display:inline-block;margin:0;padding:14px 22px;border:none;border-radius:30px;outline:0;font-weight:700;cursor:pointer;vertical-align:middle;text-decoration:none}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button{background:#e6ebf4;color:#90a0bc}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button:hover{background:#edf1f7;transform:translate3d(0,-1px,0)}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button:active{background:#dfe5f1;transform:translate3d(0,1px,0)}.fileuploader-input .fileuploader-input-button,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button.button-success{background:#9658fe;background:-moz-linear-gradient(-45deg,#3a8ffe 0,#9658fe 100%);background:-webkit-linear-gradient(-45deg,#3a8ffe 0,#9658fe 100%);background:linear-gradient(135deg,#3a8ffe 0,#9658fe 100%);/* background-size:140% auto; *//* background-position:center; */color:#fff;box-shadow:0 4px 18px rgba(0,0,0,.04);}.fileuploader-input .fileuploader-input-button:hover,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button.button-success:hover{background-position:left;box-shadow:0 8px 25px rgba(0,0,0,.15);transform:translate3d(0,-2px,0)}.fileuploader-input .fileuploader-input-button:active,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button.button-success:active{background-position:right;box-shadow:0 4px 25px rgba(0,0,0,.15);transform:translate3d(0,2px,0)}.fileuploader-items .fileuploader-item .fileuploader-action i,.fileuploader-main-icon:after,.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a i:after,.fileuploader-popup .fileuploader-popup-move:after{font-family:font-fileuploader!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fileuploader-input .fileuploader-input-caption .fileuploader-pending-loader,.fileuploader-items .fileuploader-item .fileuploader-item-image.fileuploader-loading:after,.fileuploader-items .fileuploader-item.upload-pending .fileuploader-action-remove:after,.fileuploader-popup.loading:after{content:"";position:absolute;min-width:24px;min-height:24px;max-width:48px;max-height:48px;background:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJsb2FkZXItMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjQwcHgiIHZpZXdCb3g9IjAgMCA1MCA1MCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTAgNTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjZGRlNGY2IiBkPSJNNDMuOTM1LDI1LjE0NWMwLTEwLjMxOC04LjM2NC0xOC42ODMtMTguNjgzLTE4LjY4M2MtMTAuMzE4LDAtMTguNjgzLDguMzY1LTE4LjY4MywxOC42ODNoNC4wNjhjMC04LjA3MSw2LjU0My0xNC42MTUsMTQuNjE1LTE0LjYxNWM4LjA3MiwwLDE0LjYxNSw2LjU0MywxNC42MTUsMTQuNjE1SDQzLjkzNXoiPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZVR5cGU9InhtbCIgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMjUgMjUiIHRvPSIzNjAgMjUgMjUiIGR1cj0iMC42cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiLz4gPC9wYXRoPiA8L3N2Zz4=) no-repeat center;background-size:contain}.fileuploader-items .fileuploader-item .fileuploader-item-icon i,.fileuploader-items .fileuploader-item .fileuploader-item-image canvas,.fileuploader-items .fileuploader-item .fileuploader-item-image img,.fileuploader-items .fileuploader-item .fileuploader-item-image.fileuploader-loading:after,.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point:after,.fileuploader-popup .fileuploader-popup-move:after,.fileuploader-popup.loading:after{left:50%;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}.fileuploader-items .fileuploader-item .fileuploader-action,.fileuploader-items .fileuploader-item .progress-bar2 span{/* top:50%; *//* -webkit-transform:translateY(-50%); *//* transform:translateY(-50%); */}.fileuploader-input .fileuploader-input-button,.fileuploader-items .fileuploader-item .fileuploader-item-icon,.fileuploader-items .fileuploader-item .progress-bar2 .fileuploader-progressbar,.fileuploader-popup .fileuploader-cropper,.fileuploader-popup .fileuploader-cropper *,.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button,.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button.button-success,.fileuploader-popup .fileuploader-popup-move,.fileuploader-popup .fileuploader-popup-node .fileuploader-popup-file-icon{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fileuploader,.fileuploader *,.fileuploader :after,.fileuploader :before,.fileuploader-popup,.fileuploader-popup *,.fileuploader-popup :after,.fileuploader-popup :before{box-sizing:border-box}

.fileuploader-items {
    clear: both;
    padding-top: 5px;
}.fileuploader{display:block;width:100%;padding: 15px 25px;margin: 0;border-radius:6px;line-height:normal;}

.fileuploader .btn.btn-startupload {
    display: none;
}

.fileuploader .btn {
    display: inline-block;
    float: left;
}.fileuploader-main-icon{color:#789bec}.fileuploader-main-icon:after{content:""}.fileuploader-input{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;border:1px solid transparent;border-radius:30px;cursor:pointer}.fileuploader-input .fileuploader-input-caption{position:relative;display:inline-block;-webkit-box-flex:1;-ms-flex:1;flex:1;-ms-flex-item-align:start;align-self:flex-start;padding:13px 16px;margin-right:16px;background:#fff;border:1px solid #ebeef1;border-radius:30px;color:#789bec;box-shadow:0 4px 18px rgba(0,0,0,.01);font-weight:700;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.fileuploader-focused .fileuploader-input .fileuploader-input-caption{border-color:#789bec}.fileuploader-input .fileuploader-input-caption .fileuploader-pending-loader{position:relative;display:inline-block;vertical-align:middle;min-height:22px;margin-right:6px}.fileuploader-input.fileuploader-dragging{background:#fff;border:1px solid #ebeef1;border-style:dashed}.fileuploader-input.fileuploader-dragging .fileuploader-input-caption{border-color:transparent}.fileuploader-input.fileuploader-dragging .fileuploader-input-button{-webkit-transform:translateX(100%);transform:translateX(100%);opacity:0}.fileuploader-disabled .fileuploader-input{opacity:.7;cursor:default;pointer-events:none!important}.fileuploader-items .fileuploader-items-list{display:block;margin:0 -16px;padding:0;list-style:none;margin-top: 30px;counter-reset: li; /* Initiate a counter */margin-left:0; /* Remove the default left margin */padding-left:0; /* Remove the default left padding */margin-top: 10px;}.fileuploader-items .fileuploader-item{position:relative;margin:0;padding:20px 16px 20px 22px;border-bottom:1px solid #ebeef1;animation-duration:.6s;padding: 0;display: flex;align-items: center;}.fileuploader-items .fileuploader-item:last-child{border-bottom:0;margin-bottom:-16px}.fileuploader-items .fileuploader-item.upload-failed{background:rgba(254,84,111,.06)}.fileuploader-items .fileuploader-item.upload-pending .fileuploader-action-remove:after{position:absolute;left:-8px;top:-8px;width:36px;height:36px}.fileuploader-items .fileuploader-item .columns{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:2;align-items: center;background-color: background: rgba(42, 54, 89, 0.05);width: 100%;}.fileuploader-items .fileuploader-item .column-thumbnail{position:relative;width: 80px;height: 80px;}.fileuploader-items .fileuploader-item .column-title{-webkit-box-flex:1;-ms-flex:1;flex:1;padding-left:16px;padding-right:16px;color:#74809d;overflow:hidden}.fileuploader-items .fileuploader-item .column-title a{display:inline-block;width:100%;height:100%;color:#74809d;text-decoration:none}.fileuploader-items .fileuploader-item .column-title div{width:100%;font-weight:700;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.fileuploader-items .fileuploader-item .column-title span{font-size:12px;color:#979fb8}.fileuploader-items .fileuploader-item .column-actions{margin: 0 25px;}.fileuploader-items .fileuploader-item .fileuploader-item-image{position:relative;width:100%;height:100%;border-radius: 0;background:#fff;overflow:hidden;}.fileuploader-items .fileuploader-item .fileuploader-item-image.fileuploader-loading:after{content:"";width:50%;height:50%}.fileuploader-items .fileuploader-item .fileuploader-item-image canvas,.fileuploader-items .fileuploader-item .fileuploader-item-image img{position:absolute;max-width:none;max-height:100%;width: 100%;}.fileuploader-items .fileuploader-item .fileuploader-item-icon{position:relative;width:100%;height:100%;text-align:center;color:#fff;font-size:11px;background:#ddd;border-radius:4px;cursor:default}.fileuploader-items .fileuploader-item .fileuploader-item-icon.is-bright-color{color:#888}.fileuploader-items .fileuploader-item .fileuploader-item-icon i{position:absolute;display:block;width:90%;font-style:normal;font-weight:700;overflow:hidden;white-space:nowrap}.fileuploader-items .fileuploader-item span.fileuploader-action-popup{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(43,56,71,.2);border-radius: 0;cursor:pointer;opacity:0;}.fileuploader-items .fileuploader-item span.fileuploader-action-popup:hover{opacity:1}.fileuploader-items .fileuploader-item span.fileuploader-action-popup:active{background:rgba(43,56,71,.4)}.fileuploader-items .fileuploader-item .fileuploader-action{position:relative;display:inline-block;width:20px;height:20px;color:#c0c6d2;cursor:pointer;vertical-align:top;}

.fileuploader-action-download {
    display: none !important;
}.fileuploader-items .fileuploader-item .fileuploader-action+.fileuploader-action{margin-left: 20px;}.fileuploader-items .fileuploader-item .fileuploader-action:hover{color:#789bec}.fileuploader-items .fileuploader-item .fileuploader-action:active{color:#668ee9}.fileuploader-items .fileuploader-item .fileuploader-action i{display:inline-block;width:100%;height:100%;font-size:20px;line-height:20px;text-align:center;border-radius:50%}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-remove i{color:#fff;font-size:14px;background:#fe7676;box-shadow:-1px 1px 6px rgba(254,118,118,.8);text-shadow:none}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-remove i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-remove i:hover{background-color:#fe8a8a}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-remove i:active{background-color:#fe6262}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-download i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-start i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-sort i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-edit i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-retry i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-rotate i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-settings i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-preview i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-success i{color:#fff;font-size:14px;background:#43d084;box-shadow:-1px 1px 6px rgba(67,208,132,.8);text-shadow:none}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-success i:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-success i:hover{background: #ad1558;box-shadow: none;}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-success i:hover:after{content:""}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-success i:active{background-color:#fe6262}.fileuploader-items .fileuploader-item .fileuploader-action.fileuploader-action-success i:active:after{content:""}.fileuploader-items .fileuploader-item.file-has-popup span.fileuploader-action-popup{display:block}.fileuploader-items .fileuploader-item .fileuploader-progressbar{position:absolute;left:0;bottom:0;width:100%;height:4px;border-radius:6px;overflow:hidden}.fileuploader-items .fileuploader-item .fileuploader-progressbar .bar{position:absolute;left:0;top:0;width:0%;height:100%;border-radius:6px;background:#789bec}.fileuploader-items .fileuploader-item .progress-bar2 .fileuploader-progressbar{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}.fileuploader-items .fileuploader-item .progress-bar2 .fileuploader-progressbar .bar{position:absolute;left:0;top:0;width:0%;height:100%;border-radius:0;background:rgba(104,125,219,.08)}.fileuploader-items .fileuploader-item .progress-bar2 span{position:absolute;right:16px;color:rgba(151,159,184,.16);font-size:48px}.fileuploader-items .fileuploader-item.sorting{background:#fafbfd;border-radius:6px;opacity:.8;box-shadow:0 1px 4px rgba(0,0,0,.2);z-index:799}.fileuploader-items .fileuploader-item.sorting,.fileuploader-items .fileuploader-item.sorting .fileuploader-action,.fileuploader-items .fileuploader-item.sorting .fileuploader-item-icon,.fileuploader-items .fileuploader-item.sorting .fileuploader-item-image canvas,.fileuploader-items .fileuploader-item.sorting .fileuploader-item-image img{-webkit-animation:none;animation:none}.fileuploader-items .fileuploader-sorter-placeholder{background:rgba(0,0,0,.03);margin:0;padding:0;-webkit-animation:none;animation:none}.fileuploader-popup{position:fixed;top:0;left:0;width:100%;height:100%;overflow:hidden;background:#191d1e;z-index:2000;animation-duration:.4s}.fileuploader-popup.loading:after{width:48px;height:48px;z-index:8}.fileuploader-popup .fileuploader-popup-preview{position:relative;width:100%;height:100%;overflow:auto;z-index:2}.fileuploader-popup .fileuploader-popup-node{position:relative;display:flex;flex-direction:column;align-items:flex-start;justify-content:flex-start;max-width:100%;height:100%;min-width:20px;min-height:20px;padding:80px 56px 64px;overflow:hidden}.fileuploader-popup .fileuploader-popup-node .reader-node{position:relative;max-width:100%;max-height:100%;text-align:center;-webkit-transform:translateZ(0);transform:translateZ(0)}.fileuploader-popup .fileuploader-popup-node .reader-node.is-movable{cursor:grab}.fileuploader-popup .fileuploader-popup-node .reader-node.is-amoving:hover,.fileuploader-popup .fileuploader-popup-node .reader-node.is-moving{cursor:grabbing}.fileuploader-popup .fileuploader-popup-node .reader-node.is-amoving:hover .area-move,.fileuploader-popup .fileuploader-popup-node .reader-node.is-amoving:hover .point,.fileuploader-popup .fileuploader-popup-node .reader-node.is-moving .area-move,.fileuploader-popup .fileuploader-popup-node .reader-node.is-moving .point{cursor:grabbing!important}.fileuploader-popup .fileuploader-popup-node .reader-node.has-node-centered{flex:1;display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;height:100%}.fileuploader-popup .fileuploader-popup-node.astext .reader-node>div,.fileuploader-popup .fileuploader-popup-node.audio .reader-node>audio,.fileuploader-popup .fileuploader-popup-node.image .reader-node>img,.fileuploader-popup .fileuploader-popup-node.video .reader-node>video{max-width:100%;max-height:100%;margin:0;padding:0;color:#47525d;background:#fafafa;box-shadow:0 0 18px rgba(0,0,0,.4);-webkit-transform:translateZ(0);transform:translateZ(0);border-radius:0}.fileuploader-popup .fileuploader-popup-node.audio .reader-node audio{width:450px}.fileuploader-popup .fileuploader-popup-node.astext .reader-node div{max-width:992px;padding:20px;margin:0 auto;font-size:14px;line-height:16px;text-align:left;overflow-y:auto;white-space:pre-wrap}.fileuploader-popup .fileuploader-popup-node .fileuploader-popup-file-icon{position:relative;display:inline-block;width:80px;height:80px;background:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iNjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiPiA8Zz4gIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4gIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0xIiB4PSItMSIvPiA8L2c+IDxnPiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYmJjYWNmIiBpZD0ic3ZnXzIiIGQ9Im00OSwxNi44NDJsMCw0Mi4xMDVjMCwyLjc5MSAtMi4yNyw1LjA1MyAtNS4wNjksNS4wNTNsLTM4Ljg2MiwwYy0yLjgsMCAtNS4wNjksLTIuMjYyIC01LjA2OSwtNS4wNTNsMCwtNTMuODk0YzAsLTIuNzkxIDIuMjY5LC01LjA1MyA1LjA2OSwtNS4wNTNsMjcuMDM0LDBsMTYuODk3LDE2Ljg0MnoiIGNsYXNzPSJjbHMtMSIvPiAgPHBhdGggZmlsbD0iI2RmZWFlZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0ic3ZnXzQiIGQ9Im00OSwxNS44OTlsMCwyLjA5NmwtMTMuODEzLDBjLTIuODYsMCAtNC4xNzksLTIuMzIgLTQuMTc5LC01LjE4MWwwLC0xMi44MTRsMi4wOTIsMGwxNS45LDE1Ljg5OXoiIGNsYXNzPSJjbHMtMyIvPiA8L2c+PC9zdmc+) no-repeat center;background-size:contain}.fileuploader-popup .fileuploader-popup-node .fileuploader-popup-file-icon div{position:absolute;bottom:14px;left:0;padding:4px 6px;border-radius:4px;color:#fff;max-width:100%;word-wrap:break-word}.fileuploader-popup .fileuploader-popup-node .fileuploader-popup-file-icon div.is-bright-color{color:#888}.fileuploader-popup .fileuploader-popup-node .fileuploader-popup-file-icon div i{text-transform:uppercase;font-style:normal;font-weight:700;white-space:nowrap}.fileuploader-popup .fileuploader-popup-content{color:#fdfdfd;text-shadow:1px 1px 1px rgba(0,0,0,.4)}.fileuploader-popup .fileuploader-popup-content ul{list-style:none;margin:0;padding:0}.fileuploader-popup .fileuploader-popup-content ul li{display:inline-block;padding:0;margin:0}.fileuploader-popup .fileuploader-popup-content ul li+li{margin-left:16px}.fileuploader-popup .fileuploader-popup-header{position:absolute;top:0;left:0;display:flex;flex-direction:row;align-items:center;width:100%;padding:16px;background:rgba(0,0,0,.8);background:-moz-linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);background:-webkit-linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);background:linear-gradient(360deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);z-index:2}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-meta{display:flex;flex:1;white-space:nowrap;overflow:hidden}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-meta li:first-child{overflow:hidden}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-meta span{display:block;color:#80868b;font-size:14px}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-meta h5{max-width:100%;margin:4px 0 0;font-size:14px;font-weight:700;text-overflow:ellipsis;overflow:hidden}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-info:not(:empty){flex:1;margin-left:16px}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-buttons{margin-left:16px}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-button{padding:14px 24px;text-shadow:none}.fileuploader-popup .fileuploader-popup-footer{position:absolute;left:0;bottom:0;width:100%;text-align:center;background:rgba(0,0,0,.8);background:-moz-linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);background:-webkit-linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);background:linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);z-index:2}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a{display:inline-block;padding:16px;padding-bottom:13px;cursor:pointer;text-decoration:none;color:#fdfdfd;border-bottom:3px solid transparent}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a i{display:inline-block;font-size:20px;margin-right:6px;vertical-align:middle}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a:hover{border-bottom-color:#789bec;color:#fff}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a[data-action=remove] i:after{content:""}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a[data-action=crop] i:after{content:""}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a[data-action=rotate-cw] i:after{content:""}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer{font-size:14px}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer a[data-action]{width:24px;height:24px;line-height:24px;font-size:16px;border:none;border-radius:50%;padding:0;vertical-align:middle;color:#fdfdfd;background:rgba(255,255,255,.1);text-shadow:none}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer a[data-action]:hover{background:rgba(255,255,255,.3)}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer input{display:inline-block;-webkit-appearance:none;width:130px;padding:0;margin:0 16px;vertical-align:middle;background:0 0}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer input:focus{outline:0}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer input::-webkit-slider-runnable-track{width:100%;height:4px;cursor:pointer;animate:.2s;box-shadow:none;background:#789bec;border-radius:6px}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer input::-webkit-slider-thumb{height:14px;width:14px;border-radius:50%;border:0;background:#fff;cursor:pointer;-webkit-appearance:none;margin-top:-5px;box-shadow:2px 2px 8px rgba(0,0,0,.8)}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer input::-moz-range-track{width:100%;height:4px;cursor:pointer;animate:.2s;box-shadow:none;background:#789bec;border-radius:6px}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer input::-moz-range-thumb{height:14px;width:14px;border-radius:50%;border:0;background:#fff;cursor:pointer;-webkit-appearance:none;margin-top:-5px;box-shadow:2px 2px 8px rgba(0,0,0,.8)}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer span{display:inline-block;min-width:40px;text-align:center;margin-left:6px;color:#fff;vertical-align:middle}.fileuploader-popup .fileuploader-popup-move{position:absolute;display:none;width:56px;height:100%;font-size:24px;bottom:0;left:0;color:#fff;opacity:.4;cursor:pointer;z-index:1}.fileuploader-popup .fileuploader-popup-move:hover{opacity:1}.fileuploader-popup .fileuploader-popup-move:after{position:absolute}.fileuploader-popup .fileuploader-popup-move[data-action=prev]:after{content:""}.fileuploader-popup .fileuploader-popup-move[data-action=next]{left:auto;right:0}.fileuploader-popup .fileuploader-popup-move[data-action=next]:after{content:""}.fileuploader-popup .fileuploader-popup-has-arrows .fileuploader-popup-move{display:inline-block}.fileuploader-popup .fileuploader-cropper{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(17,20,27,.65);z-index:9}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area{position:absolute;left:0;top:0;width:0;height:0;z-index:2;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area.has-grid:after,.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area.has-grid:before{content:"";position:absolute;border:1px solid rgba(250,250,250,.8);opacity:0;-webkit-transition:all .4s ease;transition:all .4s ease;z-index:1}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area.has-grid:before{top:0;left:50%;height:100%;width:34%;border-top:0;border-bottom:0;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area.has-grid:after{top:50%;left:0;height:34%;width:100%;border-left:0;border-right:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area.has-grid.moving:after,.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area.has-grid.moving:before{opacity:1}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point{position:absolute;width:24px;height:24px;z-index:3}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point:after{content:"";width:12px;height:12px;position:absolute;background:#fff;box-shadow:0 0 6px rgba(0,0,0,.4);border-radius:50%}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-a{top:-12px;left:-12px;cursor:nw-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-b{top:-12px;left:50%;margin-left:-12px;cursor:n-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-c{top:-12px;right:-12px;cursor:ne-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-d{top:50%;right:-12px;margin-top:-12px;cursor:w-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-e{bottom:-12px;right:-12px;cursor:nw-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-f{bottom:-12px;left:50%;margin-left:-12px;cursor:s-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-g{bottom:-12px;left:-12px;cursor:sw-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .point.point-h{left:-12px;top:50%;margin-top:-12px;cursor:w-resize}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .area-move{position:absolute;width:100%;height:100%;z-index:2;cursor:move}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .area-move:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid rgba(255,255,255,.8)}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .area-image{position:relative;overflow:hidden;width:100%;height:100%}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .area-image img{width:auto;height:auto;max-width:none;max-height:none;position:absolute;left:0;top:0;background:#fff;-webkit-transform-origin:top left;transform-origin:top left}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area .area-info{display:none;position:absolute;bottom:-12px;left:50%;color:#fff;font-family:sans-serif;line-height:1;font-size:12px;text-align:center;padding:4px 8px;background:rgba(0,0,0,.6);border-radius:14px;white-space:nowrap;opacity:0;-webkit-transform:translateX(-50%) translateY(100%);transform:translateX(-50%) translateY(100%);-webkit-transition:all .4s ease;transition:all .4s ease;z-index:2}.fileuploader-popup .fileuploader-cropper .fileuploader-cropper-area.show-info .area-info{opacity:1}@media all and (max-width:768px){.fileuploader-popup .fileuploader-popup-header{display:block;padding:0}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-meta{padding:16px}.fileuploader-popup .fileuploader-popup-header .fileuploader-popup-buttons{position:fixed;left:0;bottom:16px;width:100%;margin:0;text-align:center}.fileuploader-popup .fileuploader-popup-node{padding-left:16px;padding-right:16px;padding-bottom:117px}.fileuploader-popup .fileuploader-popup-footer{bottom:61px;background:0 0}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-zoomer{display:none}.fileuploader-popup .fileuploader-popup-footer .fileuploader-popup-tools li a:hover{border-color:transparent}.fileuploader-popup .fileuploader-popup-move{width:30px}.fileuploader-popup .fileuploader-popup-has-arrows .fileuploader-popup-node{padding-left:30px;padding-right:30px}}@-webkit-keyframes fileuploaderFadeIn{from{opacity:0}to{opacity:1}}@keyframes fileuploaderFadeIn{from{opacity:0}to{opacity:1}}
.fileuploader-theme-onebutton .fileuploader-input {
    display: inline-block;
}
.fileuploader-theme-onebutton .fileuploader-input .fileuploader-input-caption {
    display: none;
}

.fileuploader-dragging:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px dashed #273359;
    padding: 10px;
    box-sizing: inherit;
    background-color: #27335926;
}
.btn-fileupload i {
    color: #e1e1e1;
    font-size: 20px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    line-height: 0.8;
}

.fileuploader-items .fileuploader-item .column-title .form-control {
    font-size: 14px;
    margin-bottom: 15px;
}

ul.fileuploader-items-list > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position: relative;
    left: 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 30px;
    /* Some space between the number and the content in browsers that support
    generated content but not positioning it */
    margin-right: 0;
    padding:4px;
    color: #273359;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align: left;
}
.fileuploader-item.no-count:before {
    content: none;
}

/* New apartment page */
#new-apartment #container-left {
    height: 100% !important;
    top: 142px !important;
}
#new-apartment .inner-scrollable {
    margin-top: 0;
    height: calc(100% - 140px);
}

#new-apartment #container-right {top: 142px !important;}

.upload-images-wrapper {
    overflow-y: scroll;
    height: 100%;
}