#dash-nav {
  padding-left: 12px;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  box-shadow: 0px 2px 5px rgba(37, 38, 94, 0.05);
  .navbar-left{
    display: flex;
    align-items: center;
    .home{
      margin-right: 64px;
    }
    .logo{
      margin-right: 3rem;
    }
    .page-title{
      margin-right: 8.5rem;
      font-family: "Product Sans";
    }
    .lang{
      margin-right: 8.5rem;
      a{
        font-family: 'Poppins';
        color: #CDCDCD;
      }
    }
    .nav-weather{
      span{
        color: #CDCDCD;
      }
      img{
        margin-right: 1rem;
      }
    }
  }
  .navbar-right{
    display: flex;
    align-items: center;
    .profile-dropdown-wrap{
      margin-right: 60px;
      .profile-dropdown{
        position: relative;
        display: flex;
        align-items: center;
        img{
          margin-right: 1.5rem;
          border-radius: 50%;
        }
        .user-name{
          font-family: 'Lato';
          color: rgba(42, 54, 89, 0.75);
          font-size: 1rem;
        }
        &:after{
          margin-left: 14px;
          border-top-color: #D8DFE5;
          border-bottom-color: #D8DFE5;
        }
      }
      .profile-dropdown-menu{
        width: 632px;
        border-radius: 0;
        border: 1px solid rgba(42, 54, 89, 0.2);
        padding: 0;
        .dropdown-item{
          padding: 32px;
          display: flex;
          align-items: center;
          white-space: unset;
          .avatar{
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: #2A3659;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 4rem;
            .letter{
              font-family: Roboto;
              font-size: 18px;
              color: white;
            }
          }
          .about{
            font-family: "Product Sans";
            .role{
              display: block;
              font-weight: bold;
              color: #2A3659;
              margin-bottom: 0.25rem;
              font-size: 14px;
            }
            .desc{
              color:#2A3659;
              font-size: 14px;
            }
          }
          &:hover{
            background: #2A3659;
            .avatar{
              background: white;
              .letter{
                color: #2A3659;
              }
            }
            .about{
              .role,.desc{
                color: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }
      }
    }
    .chat{
      margin-right: 27px;
      &.has-msg{
        svg{
          path{
            fill: #A61F56;
            fill-opacity: 1;
          }
        }
      }
    }
    .close-page{
      border-left: 1px solid rgba(42, 54, 89, 0.1);
      padding-left: 1.5rem;
      height: 80px;
      display: flex;
      align-items: center;
      svg{
        &:hover{
          path{
            fill: #A61F56;
            fill-opacity: 1;
          }
        }
      }
    }
    .paket{
      span{
        font-family: Product Sans;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
      }
      height: 80px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      background: #2A3659;
      img{
        margin-right: 10px;
      }
    }
    .user-id{
      height: 80px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      background: #2A3659;
      margin-right: 40px;
      span{
        font-family: Product Sans;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
      }
      img{
        margin-right: 10px;
      }
    }
  }
}
#dash-sidebar{
  height: 100vh;
  width: 80px;
  z-index: 1029;
  background-color: white;
  .content{
    padding: 2rem 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    align-content: space-between;
    div{
      width: 100%;
    }
  }
  .nav{
    position: relative;
    .nav-link{
      width: 100%;
      text-align: center;
      padding: 0;
      border-left: 2px solid transparent;
      &:not(:last-child){
        margin-bottom: 80px;
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg{
        path{
          fill: rgba(93, 93, 93, 0.2);;
        }
      }
      .nav-link-text{
        display: none;
        margin-left: 1.5rem;
      }
      &:hover,
      &.is-active{
        border-left-color: #2A3659;
        svg{
          path{
            fill: #2A3659;
          }
        }
      }
      &.download{
        position: absolute;
        bottom: -30px;
        display: none;
      }
    }
  }
  .menu-trigger{
    .menu-close{
      display: none;
    }
  }
  &.is-open{
    width: 150px;
    .menu-trigger{
      .menu-open{
        display: none;
      }
      .menu-close{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          margin-right: 18px;
        }
      }
    }
    .nav .nav-link .nav-link-text{
      display: inline-block;
    }
    .nav .nav-link.download{
      display: block;
      a{
        flex-direction: column;
        .nav-link-text{
          margin-top: 4px;
          margin-left: 0;
        }
      }
    }
  }
}
#dash-content{
  padding-left: 120px;
  padding-right: 40px;
  padding-top: 120px;
  background: #FAFBFC;
  min-height: 100vh;

  #content-footer{
    padding: 80px 40px;
    div{
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 27px;

      color: #939EAB;
      a{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 27px;

        color: #2A3659;
      }
    }
  }
}
#history-nav{
  position: fixed;
  top: 80px;
  height: 62px;
  padding-left: 180px;
  width: 100%;
  background: #FEFEFF;
  box-shadow: 0px 2px 5px rgba(37, 38, 94, 0.05);
  display: flex;
  align-items: center;
  .history-nav-link{
    margin-right: 82px;
    a{
      display: flex;
      align-items: center;
      height: 62px;
      font-family: Product Sans;
      font-size: 16px;
      line-height: 27px;
      font-weight: 200;
      color: rgba(42, 54, 89, 0.2);
      border-bottom: 1px solid #2A3659;
    }
  }
}