.dash-card{
  .card-info{
    .search-download{
      i{
        color: #DADADA;
        cursor: pointer;
      }
    }
    .load-more{
      span{
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 27px;
        font-weight: 500;
        color: rgba(42, 54, 89, 0.2);
        cursor: pointer;
      }
      text-align: center;
      padding: 36px 0 0;
    }
    .accordion{
      .card{
        border-radius: 0;
      }
      .card-header{
        height: 80px;
        padding: 0 1.5rem;
        border-radius: 0;
        .name{
          width: 200px;
          .full-name-label{
            font-family: Product Sans;
            font-size: 13px;
            line-height: 27px;
            font-weight: 200;
            color: #939EAB;
          }
          .full-name{
            font-family: Product Sans;
            font-size: 14px;
            line-height: 27px;
            color: #939EAB;
          }
        }

        .card-num{
          .card-num-label{
            font-family: Product Sans;
            font-size: 13px;
            line-height: 27px;
            font-weight: 200;
            color: #939EAB;
          }
          .card-num-num{
            font-family: Product Sans;
            font-size: 14px;
            line-height: 27px;
            color: #939EAB;
          }
        }
        .delete-icon{
          padding-left: 40px;
          padding-right: 20px;
          margin-left: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          svg path{
            fill: rgba(42, 54, 89 ,0.5);
          }
        }
        .card-icon{
          svg path{
            fill: rgba(42, 54, 89 ,0.5);
          }
        }
      }


      .card:first-child{
        margin-top: 27px;
        .card-header{
          position: relative;
          background: #2A3659;
          box-shadow: 0px 2px 2px rgba(42, 54, 89, 0.05);
          &:before{
            content: 'New Card';
            position: absolute;
            top: -27px;
            left: 0;
            color: white;
            font-family: Product Sans;
            font-style: italic;
            font-size: 14px;
            line-height: 27px;
            background: #A61F56;
            display: inline-block;
            padding: 0 12px;
          }
          .name{
            .full-name-label{
              font-family: Product Sans;
              font-size: 13px;
              line-height: 27px;
              font-weight: 200;
              color: #FFFFFF;
            }
            .full-name{
              font-family: Product Sans;
              font-size: 14px;
              line-height: 27px;
              color: #FFFFFF;
            }
          }
          .card-num{
            .card-num-label{
              color: #FFFFFF;
            }
            .card-num-num{
              color: #FFFFFF;
            }
          }
          .card-icon{
            svg path{
              fill: rgba(255, 255, 255 ,0.5);
            }
          }
          .delete-icon{
            svg path{
              fill: rgba(255, 255, 255 ,0.5);
            }
          }
        }
      }


    }
  }
  .payment{
    header{
      margin-bottom: 2rem;
      z-index: 1;
      .title{
        font-family: Product Sans;
        font-size: 32px;
        line-height: 27px;
        color: #2A3659;
        margin-bottom: 16px;
      }
      .desc{
        font-family: Product Sans;
        font-size: 16px;
        line-height: normal;
        font-weight: 200;
        color: rgba(42, 54, 89, 0.5);
      }
    }
  }
}