.dash-history{
  #dash-content{
    padding-top: 180px;
  }
  .download-actions{
    .actions-label{
      font-family: Product Sans;
      font-size: 14px;
      line-height: 27px;
      font-weight: 200;
      color: rgba(42, 54, 89, 0.2);
      margin-right: 20px;
    }
    i{
      font-size: 14px;
      line-height: 27px;
      color: rgba(42, 54, 89, 0.2);
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .table-history{
    border: 1px solid rgba(209, 219, 226, 0.3);

    td{
      border-top: 1px solid rgba(209, 219, 226, 0.3);
      height: 80px;
      vertical-align: middle;
      .td-label{
        font-family: Product Sans;
        font-size: 14px;
        line-height: 27px;
        font-weight: 200;
        color: rgba(42, 54, 89, 0.5);
      }
      .td-value{
        font-family: Product Sans;
        font-size: 14px;
        line-height: 27px;
        font-weight: 200;
        color: rgba(42, 54, 89, 0.5);
      }
    }
    .apart-name{
      .td-value{
        width: 150px;
      }
    }
    .date-time{
      .td-value{
        color: #2A3659;
      }
    }
    .price{
      .td-value{
        color: #2A3659;
      }
    }
    .credit-card{
      .td-label{
        color: #2A3659;
      }
      .td-value{
        display: flex;
        align-items: center;
        div{
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 27px;
          color: #2A3659;
          margin-right: 16px;
        }
      }
    }
    .download{
      .td-value{
        cursor: pointer;
        span{
          margin-right: 10px;
          color: rgba(42, 54, 89, 0.2);
        }
        i{
          color: rgba(42, 54, 89, 0.2);
        }
      }
    }
    .full-screen{
      .td-value{
        cursor: pointer;
        span{
          margin-right: 10px;
          color: rgba(42, 54, 89, 0.2);
        }
        i{
          color: rgba(42, 54, 89, 0.2);
        }
      }
    }
    .delete{
      border-left: 1px solid rgba(209, 219, 226, 0.3);
      text-align: center;
      .td-value{
        cursor: pointer;
        i{
          color: rgba(42, 54, 89, 0.2);
        }
      }
    }
    .fav{
      .td-value{
        i{
          color: #2A3659;
        }
      }
    }
    .rating{
      .td-value{
        .rated-star{
          color: #ADADAD;
          i{
            color: #2A3659;
          }
        }
        i{
          color: #B0B0B0;
        }
      }
    }
    tr:hover{
      td{
        background-color: #2A3659;
        .td-label{
          color: white;
        }
        .td-value{
          color: white;
        }
      }
      .use{
        background: #A61F56;
      }
      .date-time{
        .td-value{
          color: white;
        }
      }
      .price{
        .td-value{
          color: white;
        }
      }
      .credit-card{
        .td-label{
          color: white;
        }
        .td-value{
          div{
            color: white;
          }
        }
      }
      .download{
        .td-value{
          span{
            color: rgba(255, 255, 255, 0.2);
          }
          i{
            color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .full-screen{
        .td-value{
          span{
            color: rgba(255, 255, 255, 0.2);
          }
          i{
            color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .delete{
        border-left: 1px solid rgba(147, 158, 171, 0.2);
        .td-value{
          i{
            color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .fav{
        .td-value{
          i{
            color: white;
          }
        }
      }
      .rating{
        .td-value{
          .rated-star{
            color: #B0B0B0;
            i{
              color: white;
            }
          }
          i{
            color: #B0B0B0;
          }
        }
      }
    }
  }

  .table-history-new-info{
    position: relative;
    border: 1px solid #2A3659;
    margin-top: 2rem;
    margin-bottom: 3rem;
    &:before{
      content: 'New Information';
      font-style: italic;
      position: absolute;
      top: -26px;
      left: 0;
      font-family: Product Sans;
      font-size: 14px;
      line-height: 27px;
      color: #FFFFFF;
      background: #A61F56;
      padding: 0 12px;
      display: inline-block;
    }
    &.new-likes{
      &:before{
        content: 'New Likes';
      }
    }

    td{
      border-top: #2A3659;
      background-color: #2A3659;
      .td-label{
        color: white;
      }
      .td-value{
        color: white;
      }
    }
    .use{
      background: #A61F56;
    }
    .date-time{
      .td-value{
        color: white;
      }
    }
    .price{
      .td-value{
        color: white;
      }
    }
    .credit-card{
      .td-label{
        color: white;
      }
      .td-value{
        div{
          color: white;
        }
      }
    }
    .download{
      .td-value{
        span{
          color: rgba(255, 255, 255, 0.2);
        }
        i{
          color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .full-screen{
      .td-value{
        span{
          color: rgba(255, 255, 255, 0.2);
        }
        i{
          color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .delete{
      border-left: 1px solid rgba(147, 158, 171, 0.2);
      .td-value{
        i{
          color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .fav{
      .td-value{
        i{
          color: white;
        }
      }
    }
    .rating{
      .td-value{
        .rated-star{
          color: #B0B0B0 !important;
          i{
            color: white;
          }
        }
        i{
          color: #B0B0B0;
        }
      }
    }
  }

  .load-more{
    span{
      font-family: 'Roboto';
      font-style: normal;
      font-size: 14px;
      line-height: 27px;
      font-weight: 500;
      color: rgba(42, 54, 89, 0.2);
      cursor: pointer;
    }
    text-align: center;
    padding: 36px 0;
  }
}