.dash-history-info{
  #dash-content{
    padding-left: 0;
    padding-right: 0;
    padding-top: 160px;
  }
  .info-nav{
    height: 80px;
    position: fixed;
    top: 80px;
    width: 100%;
    background: #2A3659;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    .title{
      font-family: Product Sans;
      font-size: 16px;
      line-height: normal;
      color: #FFFFFF;
      margin-right: 64px;
    }
    .nav{
      li{
        a{
          font-family: Product Sans;
          font-size: 16px;
          line-height: normal;

          color: rgba(255, 255, 255, 0.5);
        }
        &:not(:last-child){
          margin-right: 64px;
        }
      }
    }
    .nav-right{
      div{
        cursor: pointer;
        &:not(:last-child){
          margin-right: 26px;
        }
        i{
          font-size: 14px;
          line-height: 27px;

          color: #FFFFFF;
        }
        span{
          font-family: Product Sans;
          font-size: 14px;
          line-height: 27px;

          color: #FFFFFF;
        }
      }
    }
  }
  .info-left{
    position: relative;
    background-color: white;
    padding-right: 0 ;
    padding-left: 0;
    header{
      height: 75px;
      position: sticky;
      width: 100%;
      padding-left: 180px;
      .title{
        font-family: Product Sans;
        font-size: 30px;
        line-height: normal;
        margin-right: 24px;
        color: #2A3659;
      }
      .desc{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: normal;

        color: #2A3659;
      }
      .rating{
        padding-right: 28px;
        .score{
          font-family: Product Sans;
          font-size: 24px;
          line-height: normal;
          margin-right: 16px;
          color: #A61F56;
        }
      }
      .book-now{
        background: rgba(42, 54, 89, 0.05);
        font-family: Product Sans;
        font-size: 14px;
        line-height: normal;
        height: 75px;
        color: #2A3659;
        padding: 0 44px;
        cursor: pointer;
      }
    }
    footer{
      padding: 0 50px;
      height: 75px;
      position: fixed;
      width: 50%;
      bottom: 0;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div{
        cursor: pointer;
        &:not(:last-child){
          margin-right: 26px;
        }
        i{
          font-size: 14px;
          line-height: 27px;

          color: rgba(42, 54, 89, 0.5);
        }
        span{
          font-family: Product Sans;
          font-size: 14px;
          line-height: 27px;

          color: rgba(42, 54, 89, 0.5);
        }
      }
    }
  }
}