#dash-users{
  .profile-info{
    .user-image{
      width: 135px;
      height: 135px;
      display: inline-block;
      vertical-align: top;
      margin-right: 24px;
      float: left;
      &.has-edit{
        position: relative;
        .edit-icon{
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
        }
      }
    }
    .image-info{
      font-family: Product Sans;
      font-size: 14px;
      line-height: 27px;
      color: rgba(93, 93, 93, 0.5);
    }
    .user-name{
      display: block;
      font-family: Product Sans;
      font-size: 20px;
      line-height: 27px;
      color: #2A3659;
      margin-bottom: 65px;
    }
  }
  .user-info-form{
    margin-top: 40px;
    .form-label-group:not(:last-child){
      .form-control{
        border-bottom: none;
      }
    }
  }
  .linked-acc{
    margin-top: 20px;
    h4{
      color: #2A3659;
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 24px;
    }
    .buttons{
      .btn{
        background: #FFFFFF;
        border: 1px solid rgba(85, 98, 110, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(85, 98, 110, 0.1);
        font-family: Product Sans;
        font-size: 16px;
        line-height: 27px;

        color: rgba(42, 54, 89, 0.5);
        i{
          color: #2A3659;
          margin-right: 12px;
        }
      }
    }
  }
  .loyalty{
    .card{
      text-align: center;
      position: relative;
      background: #2A3659;
    }

    h5{
      font-family: Product Sans;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 20px;
      color: #FFFFFF;
      font-weight: 200;
    }
    .pass-code{
      font-family: Product Sans;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 20px;
      color: #FFFFFF;
      font-weight: 200;
    }
    img{
      margin-bottom: 20px;
    }
    .id{
      font-family: Product Sans;
      font-size: 24px;
      line-height: 20px;
      text-align: center;

      color: #FFFFFF;
    }
  }
  .card-info{
    .accordion{
      .card{
        border-radius: 0;
      }
      .card-header{
        height: 80px;
        padding: 0 1.5rem;
        border-radius: 0;
        .name{
          width: 200px;
          .full-name-label{
            font-family: Product Sans;
            font-size: 13px;
            line-height: 27px;
            font-weight: 200;
            color: #939EAB;
          }
          .full-name{
            font-family: Product Sans;
            font-size: 14px;
            line-height: 27px;
            color: #939EAB;
          }
        }
        .card-type{
          margin-right: 180px;
        }
        .card-num{
          .card-num-label{
            font-family: Product Sans;
            font-size: 13px;
            line-height: 27px;
            font-weight: 200;
            color: #939EAB;
          }
          .card-num-num{
            font-family: Product Sans;
            font-size: 14px;
            line-height: 27px;
            color: #939EAB;
          }
        }
        .delete-icon{
          padding-left: 40px;
          padding-right: 20px;
          margin-left: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          svg path{
            fill: rgba(42, 54, 89 ,0.5);
          }
        }
        .card-icon{
          svg path{
            fill: rgba(42, 54, 89 ,0.5);
          }
        }
      }


      .card:first-child{
        margin-top: 27px;
        .card-header{
          position: relative;
          background: #2A3659;
          box-shadow: 0px 2px 2px rgba(42, 54, 89, 0.05);
          &:before{
            content: 'New Card';
            position: absolute;
            top: -27px;
            left: 0;
            color: white;
            font-family: Product Sans;
            font-style: italic;
            font-size: 14px;
            line-height: 27px;
            background: #A61F56;
            display: inline-block;
            padding: 0 12px;
          }
          .name{
            .full-name-label{
              font-family: Product Sans;
              font-size: 13px;
              line-height: 27px;
              font-weight: 200;
              color: #FFFFFF;
            }
            .full-name{
              font-family: Product Sans;
              font-size: 14px;
              line-height: 27px;
              color: #FFFFFF;
            }
          }
          .card-num{
            .card-num-label{
              color: #FFFFFF;
            }
            .card-num-num{
              color: #FFFFFF;
            }
          }
          .card-icon{
            svg path{
              fill: rgba(255, 255, 255 ,0.5);
            }
          }
          .delete-icon{
            svg path{
              fill: rgba(255, 255, 255 ,0.5);
            }
          }
        }
      }


    }
  }

  .download-actions{
    .actions-label{
      font-family: Product Sans;
      font-size: 14px;
      line-height: 27px;
      font-weight: 200;
      color: rgba(42, 54, 89, 0.2);
      margin-right: 20px;
    }
    i{
      font-size: 14px;
      line-height: 27px;
      color: rgba(42, 54, 89, 0.2);
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .table-history{
    border: 1px solid rgba(209, 219, 226, 0.3);

    td{
      border-top: 1px solid rgba(209, 219, 226, 0.3);
      height: 80px;
      vertical-align: middle;
      .td-label{
        font-family: Product Sans;
        font-size: 14px;
        line-height: 27px;
        font-weight: 200;
        color: rgba(42, 54, 89, 0.5);
      }
      .td-value{
        font-family: Product Sans;
        font-size: 14px;
        line-height: 27px;
        font-weight: 200;
        color: rgba(42, 54, 89, 0.5);
      }
    }
    .apart-name{
      .td-value{
        width: 150px;
      }
    }
    .date-time{
      .td-value{
        color: #2A3659;
      }
    }
    .price{
      .td-value{
        color: #2A3659;
      }
    }
    .credit-card{
      .td-label{
        color: #2A3659;
      }
      .td-value{
        display: flex;
        align-items: center;
        div{
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 27px;
          color: #2A3659;
          margin-right: 16px;
        }
      }
    }
    .download{
      .td-value{
        cursor: pointer;
        span{
          margin-right: 10px;
          color: rgba(42, 54, 89, 0.2);
        }
        i{
          color: rgba(42, 54, 89, 0.2);
        }
      }
    }
    .full-screen{
      .td-value{
        cursor: pointer;
        span{
          margin-right: 10px;
          color: rgba(42, 54, 89, 0.2);
        }
        i{
          color: rgba(42, 54, 89, 0.2);
        }
      }
    }
    .delete{
      border-left: 1px solid rgba(209, 219, 226, 0.3);
      text-align: center;
      .td-value{
        cursor: pointer;
        i{
          color: rgba(42, 54, 89, 0.2);
        }
      }
    }
    .fav{
      .td-value{
        i{
          color: #2A3659;
        }
      }
    }
    .rating{
      .td-value{
        .rated-star{
          color: #ADADAD;
          i{
            color: #2A3659;
          }
        }
        i{
          color: #B0B0B0;
        }
      }
    }
    tr:hover{
      td{
        background-color: #2A3659;
        .td-label{
          color: white;
        }
        .td-value{
          color: white;
        }
      }
      .use{
        background: #A61F56;
      }
      .date-time{
        .td-value{
          color: white;
        }
      }
      .price{
        .td-value{
          color: white;
        }
      }
      .credit-card{
        .td-label{
          color: white;
        }
        .td-value{
          div{
            color: white;
          }
        }
      }
      .download{
        .td-value{
          span{
            color: rgba(255, 255, 255, 0.2);
          }
          i{
            color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .full-screen{
        .td-value{
          span{
            color: rgba(255, 255, 255, 0.2);
          }
          i{
            color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .delete{
        border-left: 1px solid rgba(147, 158, 171, 0.2);
        .td-value{
          i{
            color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .fav{
        .td-value{
          i{
            color: white;
          }
        }
      }
      .rating{
        .td-value{
          .rated-star{
            color: #B0B0B0;
            i{
              color: white;
            }
          }
          i{
            color: #B0B0B0;
          }
        }
      }
    }
  }

  .table-history-new-info{
    position: relative;
    border: 1px solid #2A3659;
    margin-top: 2rem;
    margin-bottom: 3rem;
    &:before{
      content: 'New Information';
      font-style: italic;
      position: absolute;
      top: -26px;
      left: 0;
      font-family: Product Sans;
      font-size: 14px;
      line-height: 27px;
      color: #FFFFFF;
      background: #A61F56;
      padding: 0 12px;
      display: inline-block;
    }
    &.new-likes{
      &:before{
        content: 'New Likes';
      }
    }

    td{
      border-top: #2A3659;
      background-color: #2A3659;
      .td-label{
        color: white;
      }
      .td-value{
        color: white;
      }
    }
    .use{
      background: #A61F56;
    }
    .date-time{
      .td-value{
        color: white;
      }
    }
    .price{
      .td-value{
        color: white;
      }
    }
    .credit-card{
      .td-label{
        color: white;
      }
      .td-value{
        div{
          color: white;
        }
      }
    }
    .download{
      .td-value{
        span{
          color: rgba(255, 255, 255, 0.2);
        }
        i{
          color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .full-screen{
      .td-value{
        span{
          color: rgba(255, 255, 255, 0.2);
        }
        i{
          color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .delete{
      border-left: 1px solid rgba(147, 158, 171, 0.2);
      .td-value{
        i{
          color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .fav{
      .td-value{
        i{
          color: white;
        }
      }
    }
    .rating{
      .td-value{
        .rated-star{
          color: #B0B0B0 !important;
          i{
            color: white;
          }
        }
        i{
          color: #B0B0B0;
        }
      }
    }
  }

  .load-more{
    span{
      font-family: 'Roboto';
      font-style: normal;
      font-size: 14px;
      line-height: 27px;
      font-weight: 500;
      color: rgba(42, 54, 89, 0.2);
      cursor: pointer;
    }
    text-align: center;
    padding: 36px 0;
  }

}