<div class="col-12 col-sm-12 col-md-6 col-lg-6 apart-item small">

    <div class="apart-image with-slider">

        <span class="apart-overlay"></span>

        <div class="apart-slider">
            <div class="">
                <img src="img/apartman_small_items.jpg" alt="">
            </div>
            <div class="">
                <img src="img/apartman_small_items.jpg" alt="">
            </div>
            <div class="">
                <img src="img/apartman_small_items.jpg" alt="">
            </div>
        </div>

        <div class="apart-item-info floating-info">
            <div class="price-wrap">
                <p class="medium-label">Pay per night</p>
                <p class="apart-item-price">25 €</p>
            </div>
            <div class="apart-title-wrap">
                <h4 class="apart-item-title">Studio Margarita 33M2</h4>
                <div class="d-flex justify-content-between">

                    <ul class="rate-stars light">
                        <li class="rated-star"><i class="fa fa-star"></i></li>
                        <li class="rated-star"><i class="fa fa-star"></i></li>
                        <li class="rated-star"><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>

                    <div class="slick-controls"></div>

                </div>
            </div>
        </div>

    </div>

    <div class="apart-item-bottom">
        <p class="apart-area">Nova Karaburma</p>
        <ul class="apart-labels">
            <li>Entire apartment</li>
            <li>Free cancellation</li>
        </ul>
        <ul class="apart-features">
            <li class="fe-parking"></li>
            <li class="fe-location"></li>
            <li class="fe-phone"></li>
            <li class="fe-bookmark"></li>
        </ul>
    </div>

</div>